.loader {
  width: 1.6rem;
  height: 1.6rem;
  border: 4px solid rgb(250, 250, 250);
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}