.bottom-navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    padding: .8rem 2rem;
    transform: translateX(-50%);
    background-color: var(--shade);
    border-radius: 3rem;
    backdrop-filter: blur(10px);
}

.bottom-navbar a {
    text-decoration: none;
}