:root {
    --original-color: #8a2be2;
    --lighter-color: #b57fef;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: var(--lighter-color);
    margin-top: 2rem;
}

.call-to-action-section .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1100px;

}

.container .image {
    width: 50%;
}

.container .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 500px;
}
